@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    background: rgba(25, 25, 25, 1);
    width: 100%; 
}

header a{
    text-decoration: none;
    color: white;
}
header {
    background: rgba(0, 0, 0, 1);
    font-family: "Tektur", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: right;
    height: 15%;
    padding: 1%;
    border-bottom: 2px solid Goldenrod;
}
header p {
    font-size: 30px;
    font-weight: 400;
    color: Goldenrod;
}



div.Scroll {
    overflow-x: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
div.Scroll:hover {
    transform: translatex(120px);
}

div.Scroll a {
    display: inline-block;
    text-align: center;
    text-decoration: none; 
    color: white;
    margin: 35px;
}
div.Scroll a:hover {
    transform: translatex(120px);
}
div.Scroll .text {
    font-family: "Tektur", sans-serif;
    font-size: 25px;
    position: sticky;
    top: 50%;
    z-index: 1;
    text-align: center;
}

div.Scroll img {
    position: relative;
    width: 600px;
    z-index: 0;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;}
div.Scroll img:hover {
    width: 610px;
    filter: none;
    filter: brightness(0.5) opacity(0.5);
}*

