.tektur-<uniquifier> {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}


body {
    background: rgba(25, 25, 25, 1);
}

.header {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -20px;
    background: rgba(0, 0, 0, 1);
    font-family: "Tektur", sans-serif;
    font-variation-settings:
}

.head-text a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 55px;

}
.head-text a:hover {
    font-size: 26px;
    color: Goldenrod;
}

.title {
    color: #fff;
    font-family: "Tektur", sans-serif;
    font-weight: 800;
    font-variation-settings:
    "wdth" 100;
}
.menu {
    color: #fff;
    font-family: "Tektur", sans-serif;
}

/* photo */
.container {
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.title_img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    position: absolute;
    float: center;
}


/* cat_view */
