{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <link type="text/css" href="{% static 'title/css/style.css' %}" rel="stylesheet" />
</head>
<body class="body">
<header>
    <div class="header">
        <h1>
            <a href="">Краткая информация</a>
            <time></time>
            <a href="">Контакты</div>
        </h1>
</header>


{% block Title %}
{% endblock %}

{% block Skills %}
{% endblock %}

{% block Edu %}
{% endblock %}

{% block Proj_Part %}
{% endblock %}

{% block Publ %}
{% endblock %}

<footer>
    <div class="footer">
        <h1>
            <a href="">Краткая информация</a>
            <time></time>
            <a href="">Контакты</div>
        </h1>
</footer>

</body>
</html>

