{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link type="text/css" href="{% static 'title/css/style2.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body class="body">
<header>
    <div class="head_1">
        <a href="/en"><img class='logo' src="{% static 'title/img/logo.png' %}" alt="1"></a>
<!--        <a class="lang_button" href=".">RU</a><a href="./en">EN</a>-->
        <a href="/en">Kurochkin I.Yu.<br><b>Portfolio</b></a>
    </div>
</header>

<div class='global_text_style'>
{% block Scroll %}
{% endblock %}

{% block Skills %}
{% endblock %}

{% block Edu %}
{% endblock %}

{% block Proj_Part %}
{% endblock %}

{% block Publ %}
{% endblock %}
</div>

</body>
</html>

