{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <link type="text/css" href="{% static 'title/css/style.css' %}" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
</head>
<body class="body">
<header class="header">
    <div><a href="">Краткая информация</a> <time></time> <a href="">Контакты</a></div>
</header>


{% block Title %}
{% endblock %}

{% block Skills %}
{% endblock %}

{% block Edu %}
{% endblock %}

{% block Proj_Part %}
{% endblock %}

{% block Publ %}
{% endblock %}

</body>

</html>

