{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <link type="text/css" href="{% static 'title/css/style.css' %}" rel="stylesheet" />
<!--    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
</head>
<body>
<header class="header">
    <div><a href="">Краткая информация</a></div>
    <div><a href="">Текущее время</a></div>
    <div><a href="">Контакты</a></div>
</header>
</body>

</html>
{% block Title %}
{% endblock %}

{% block Skills %}
{% endblock %}

{% block Edu %}
{% endblock %}

{% block Proj_Part %}
{% endblock %}

{% block Publ %}
{% endblock %}
