{% extends 'base.html' %}
{% load static %}

{% block Skills %}
    <div class="publications_style">
    <h2>Работа с изображениями  <a class="button_to_draw_examples" href="drawing_skills/example">(К примерам работ)</a></h2>
    <ul>
        {% for s in skills %}
            {% if s.skill_cat_id == 1 %}
                <li>{{ s.skill }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>


    <div class="lang_button"><a href="/drawing_skills"><button>RU</button></a><a href="/drawing_skills/en"><button>EN</button></a></div>

{% endblock %}

