{% extends 'base.html' %}
{% load static %}


{% block Skills %}
    <div class="publications_style">
    <h2>Work examples</h2>
    <ul>
        {% for s in draw_examples %}
            <img class="draw_examples" src='/static/title/img/{{ s.img_file }}'>
            <button><a href='/static/title/img/{{ s.img_file_max_quality }}'>test</button>
        {% endfor %}
    </ul>
    </div>

<!--    <div class="lang_button"><a href="/drawing_skills"><button>RU</button></a><a href="/drawing_skills/en"><button>EN</button></a></div>-->

{% endblock %}