{% extends 'base.html' %}
{% include "publications.html" %}

{% load static %}

{% block Scroll %}
<div class="Scroll">

            <a href="edu"><p class="text">Education & Work experience</p><img class='title_img' src="{% static 'title/img/edu2.jpg' %}" alt="1"></a>

            <a href="project_part"><p class="text">Projects</p><img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1"></a>

            <a href="publications"><p class="text">Publications</p><img class='title_img' src="{% static 'title/img/publications.png' %}" alt="1"></a>

            <a href="skills"><p class="text">Skills</p><img class='title_img' src="{% static 'title/img/to_prog_skills.jpg' %}" alt="1"></a>

</div>

<!-- <div class="Scroll">
        <div>
            <a href="edu" class="text">Education & Work experience</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </div>
        <div>
            <a href="project_part" class="text">Projects</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </div>
        <div>
            <a href="publications" class="text">Publications</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </div>
        <div>
            <a href="skills" class="text">Skills</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </div>
        <div>
            <a href="skills" class="text">Skills</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </div>
        <div>
            <a href="skills" class="text">Skills</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </div>
</div> -->
<!-- <div class="Scroll">
    <div class="menu">
        <li>
            <a href="edu" class="text">Education & Work experience</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </li>
        <li>
            <a href="project_part" class="text">Projects</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </li>
        <li>
            <a href="publications" class="text">Publications</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </li>
        <li>
            <a href="skills" class="text">Skills</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
        </li>
</div> -->
{% endblock %}

