{% extends 'base.html' %}
{% include "publications.html" %}

{% load static %}

{% block Scroll %}
<div class="Scroll">
    <div class="menu">
        <li><a href="edu" class="text">Education & Work experience</a><p>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1"></p>
        </li>
        <li><a href="project_part" class="text">Projects</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1"></p>
        </li>
        <li><a href="publications" class="text">Publications</a>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1"></p>
        </li>
        <li><a href="skills" class="text">Skills</a></li>
            <img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1"></p>
        </li>

</div>
{% endblock %}

