{% extends 'base.html' %}
{% include "publications.html" %}

{% load static %}

{% block Scroll %}
<div class="Scroll">
    <ul class="ul">
            <li class="li"><a href="edu"><div class="scrollable-div"><img class='title_img' src="{% static 'title/img/edu2.jpg' %}" alt="1">
                <div class="text"><p>Образование и опыт работы</p></div></div></a></li>
            <li class="li"><a href="skills_prog"><div class="scrollable-div"><img class='title_img' src="{% static 'title/img/to_prog_skills.jpg' %}" alt="1">
                <div class="text">Программирование<br>(Стек технологий)</div></div></a></li>
            <li class="li"><a href="drawing_skills"><div class="scrollable-div"><img class='title_img' src="{% static 'title/img/j_title.png' %}" alt="1">
                <div class="text">Работа с изображениями</div></div></a></li>
            <li class="li"><a href="qc_skills"><div class="scrollable-div"><img class='title_img' src="{% static 'title/img/qc.png' %}" alt="1">
                <div class="text">Квантовая химия</div></div></a></li>
            <li class="li"><a href="other_skills"><div class="scrollable-div"><img class='title_img' src="{% static 'title/img/other_skills.jpg' %}" alt="1">
                <div class="text">__Иные навыки__</div></div></a></li>
            <li class="li"><a href="project_part"><div class="scrollable-div"><img class='title_img' src="{% static 'title/img/fund.jpg' %}" alt="1">
                <div class="text">Участие в<br>финансируемых проектах</div></div></a></li>
            <li class="li"><a href="publications"><div class="scrollable-div"><img class='title_img' src="{% static 'title/img/publications.jpg' %}" alt="1">
                <div class="text">__Публикации__</div></div></a></li>
            <li class="li"><a href="about_me"><div  class="scrollable-div"><img class='title_img' src="{% static 'title/img/my.jpg' %}" alt="1">
                <div class="text">____Обо мне____</div></div></a></li>
    </ul>
</div>

<header>
    <div class="head_2">
        <p>
    </div>
</header>

<script src="{% static 'title/js/scale.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function() {
        var docWidth = $('body').width(),
        slidesWidth = $('ul').width(),
        rangeX = slidesWidth - docWidth,
        $images = $('ul');

        $(document).on('mousemove', function(e) {
              var mouseX = e.pageX,
                offset = mouseX / docWidth * slidesWidth - mouseX / 4;

              $images.css({
                '-webkit-transform': 'translate3d(' + -offset + 'px,0,0)',
                'transform': 'translate3d(' + -offset + 'px,0,0)'
              });
            });
        });
</script>
<script src="{% static 'title/js/btn.js' %}"></script>
    <div class="lang_button"><a href="."><button id="btn">RU</button></a><a href="/en"><button  id="btn">EN</button></a></div>

{% endblock %}

