{% extends 'base_en.html' %}
{% load static %}

{% block Proj_Part %}
    <div class="publications_style">
    <h2>Projects</h2>
    <ul>
        {% for s in object_list %}
            <li>{{ s.project_year_start }}-{{ s.project_year_end }} -- {{ s.project_title_en }} -- {{ s.project_number }} ({{ s.foundation_en }})</li>
        {% endfor %}
    </ul>
    </div>

    <div class="lang_button"><a href="/project_part"><button>RU</button></a><a href="/project_part/en"><button>EN</button></a></div>

{% endblock %}

