{% extends 'base.html' %}
{% load static %}

{% block Publ %}
    <div class="publications_style">
    <h2>Публикации</h2>
    <ul>
        {% for s in object_list %}
            <li><b>{{ s.authors }}</b> <br><i>"{{ s.article_title }}"</i> <br> <u>Journal:</u> {{ s.journal }} -- {{ s.year }}
                -- <b><font color='9C1B00'>DOI: {{ s.doi }}</font></b></li>
        {% endfor %}
    </ul>
    </div>

    <div class="lang_button"><a href="/publications"><button>RU</button></a><a href="/publications/en"><button>EN</button></a></div>

{% endblock %}

